<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="PageObjectModel">
    <classes>
      <class name="testNGMethods.TestAttributes"/>
      <class name="tests.LoginTestPageObject"/>
      <class name="testNGMethods.DataProviderTest"/>
      <class name="testNGMethods.CrossBrowserTest"/>
      <class name="testNGMethods.ParallelTestByMethods"/>
      <class name="testNGMethods.DataProviderWithExcel"/>
      <class name="testNGMethods.ParallelTestByClass1"/>
      <class name="testNGMethods.TestNGAnnotations"/>
      <class name="testNGMethods.ParallelTestByClass2"/>
      <class name="testNGMethods.ParameterOptionalTest"/>
      <class name="testNGMethods.CrossBrowserTest2"/>
      <class name="testNGMethods.FirstTestUsingTestNG"/>
      <class name="testNGMethods.ParallelTestByTest"/>
      <class name="testNGMethods.BeforeAfterTest"/>
      <class name="testNGMethods.ParameterTestLevel"/>
      <class name="testNGMethods.Grouping"/>
      <class name="tests.LoginTestPageFactory"/>
      <class name="testNGMethods.DataProviderTestOutsideClass"/>
    </classes>
  </test> <!-- PageObjectModel -->
</suite> <!-- Suite -->
